<h1>Selectores anidados</h1>
<hr>

<form [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Continentes</label>
            <select class="form-control" formControlName="region">
                <option value="">-- seleccione Continente --</option>
                <option *ngFor="let region of regiones" [value]="region | lowercase">{{ region }}</option>
            </select>
        </div>
    </div>
    <div class="row mb-3" *ngIf="paises.length !== 0">
        <div class="col">
            <label class="form-label">Paises</label>
            <select class="form-control" formControlName="pais">
                <option value="">-- seleccione País --</option>
                <option *ngFor="let pais of paises" [value]="pais.cca3">{{ pais.translations.spa.common }}</option>
            </select>
        </div>
    </div>
    <div class="row mb-3" *ngIf="fronteras.length !== 0">
        <div class="col">
            <label class="form-label">Paises que tienen frontera</label>
            <select class="form-control" formControlName="frontera">
                <option value="">-- seleccione País fronterizo --</option>
                <option *ngFor="let item of fronteras" [value]="item">{{ item }}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="alert alert-primary" *ngIf="cargando">Cargando...</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end" type="submit">
                Seleccionar
            </button>
        </div>
    </div>
</form>

<h3>Formulario</h3>
<pre>{{ miFormulario.valid }}</pre>
<pre>{{ miFormulario.value | json }}</pre>