<h2>Template: Dinámicos</h2>
<hr>

<form (ngSubmit)="guardar()" autocomplete="off" #miFormulario="ngForm">
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control" placeholder="Nombre de la persona" [ngModel]="persona.nombre" name="nombre" required>
            <span *ngIf="miFormulario.controls['nombre']?.errors" class="form-text text-danger">Este campo es obligatorio</span>
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control" placeholder="Agregar favorito" [(ngModel)]="nuevoFavorito" (keyup.enter)="agregarFavorito()" name="agregar">
                <button class="btn btn-outline-primary" type="button" (click)="agregarFavorito()">Agregar</button>
            </div>
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9">
            <div class="input-group mb-1" *ngFor="let juego of persona.favoritos; let i = index">
                <input class="form-control" [(ngModel)]="juego.nombre" [name]="'favorito_' + i">
                <button class="btn btn-outline-danger" type="button" (click)="eliminarFavorito(i)">Eliminar</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <button type="button" class="btn btn-primary float-end" (click)="guardar()" [disabled]="miFormulario.invalid">Guardar</button>
        </div>
    </div>
</form>

<div clas="row">
    <div class="col">
        <span>Persona</span>
        <pre>{{ persona | json }}</pre>
    </div>
</div>