<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="submitFormulario()" autocomplete="off" [formGroup]="miFormulario">
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeHolder="Nombre del usuario" formControlName="nombre">
                    <span *ngIf="campoNoValido('nombre')" class="form-text text-danger">Debe tener formato de nombre y apellidos</span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" placeHolder="Email del usuario" formControlName="email">
                    <span *ngIf="campoNoValido('email')" class="form-text text-danger">{{ emailErrorMsg }}</span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="username" placeHolder="Nombre código del usuario">
                    <span *ngIf="campoNoValido('username')" class="form-text text-danger">El username no puede ser Strider</span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" placeHolder="Contraseña de la cuenta" formControlName="password">
                    <span *ngIf="campoNoValido('password')" class="form-text text-danger">La contraseña debe ser mayor de 6 caracteres</span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar Password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" placeHolder="Confirmar contraseña de la cuenta" formControlName="password2">
                    <span *ngIf="campoNoValido('password2')" class="form-text text-danger">Las contraseñas deben ser iguales</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary float-end" [disabled]="miFormulario.pending">Crear usuario</button>
                </div>
            </div>
        </form>
    </div>
</div>

<h2>Form Valid: {{ miFormulario.valid }} </h2>

<h5>Nombre</h5>
<pre>{{ miFOrmulario.controls['nombre'].errors | json</pre>

<h5>Email</h5>
<pre>{{ miFOrmulario.controls['email'].errors | json</pre>